@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #4caf50;
  --color-secondary: #ffa726;
  --color-accent: #ffc107;
  --color-neutral: #f3fbf4;
  --color-base-100: #ffffff;
}

body {
  font-family: "Poppins", sans-serif;
}
@keyframes borderMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.animate-border {
  background-size: 200% 200%;
  animation: borderMove 6s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  animation: slide 20s linear infinite;
}
.pause-on-hover:hover {
  animation-play-state: paused;
}
/* [#F3FBF4] */
